* {   
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

header {
    background-color: black;
    color: white;    
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

#bienvenido {
    color: rgb(247, 176, 22);
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.lista-consultas {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    padding-bottom: 20px;
}
.item-lista {
    
    border: 1px black solid;
}
p {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.foto-producto {
    width: 100%;
    height: auto;
}
.grid-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    }    
    .nuri { grid-area: 1 / 1 / 2 / 2; }
    .tita { grid-area: 1 / 2 / 2 / 3; }
    .bianca { grid-area: 1 / 3 / 2 / 4; }
    .eva { grid-area: 2 / 1 / 3 / 2; }
    .kika { grid-area: 2 / 2 / 3 / 3; }
    .lisa { grid-area: 2 / 3 / 3 / 4; }
    .chofa { grid-area: 3 / 1 / 4 / 2; }
    .lola { grid-area: 3 / 2 / 4 / 3; }
    .nina { grid-area: 3 / 3 / 4 / 4; }

/*
button {
    display: flex; 
    justify-content: center; 
    color: grey;
    background-color: black;
}    
*/
.redes {
    display: flex;
    justify-content: space-around;
}

.logo-redes {
    height: 70px;
	right: 70px;
}