* {   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
background-color: black;
color: white;    
}
h1 {
display: flex;
justify-content: center;
font-size: 40px;
}

#boton-carrito {
    border: none;
    color: rgb(0, 0, 0);
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
}
.carrito-con {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

#bienvenido {
color: rgb(247, 176, 22);
font-size: 30px;
display: flex;
justify-content: center;
}

.lista-consultas {
display: flex;
justify-content: space-around;
list-style: none;
font-size: 20px;
padding-bottom: 20px;
}
/*
.texto-pagos {
    position: relative;
     top: 305px; left: 11px; 
    width: 100%;
    height: auto;
}
*/
/*

.contenedor-mediosp {
    border: 10px black solid;
    
}
*/
#formaPago {
    width: 100%;
    height: auto;
}
#formaEnvio {
    width: 100%;
    height: auto;
}
#devoluciones {
    width: 100%;
    height: auto;
}
header p {
display: flex;
justify-content: center;
font-size: 15px;
}

.foto-producto {
 
width: 100%;
height: auto;
}



#contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}    
.productos1 { grid-area: 1 / 1 / 2 / 2; }
.productos2 { grid-area: 1 / 2 / 2 / 3; }
.productos3 { grid-area: 1 / 3 / 2 / 4; }
.productos4 { grid-area: 2 / 1 / 3 / 2; }
.productos5 { grid-area: 2 / 2 / 3 / 3; }
.productos6 { grid-area: 2 / 3 / 3 / 4; }
.productos7 { grid-area: 3 / 1 / 4 / 2; }
.productos8 { grid-area: 3 / 2 / 4 / 3; }
.productos9 { grid-area: 3 / 3 / 4 / 4; }

.nombre-producto, .precio-prod, .boton-agregar-prod{
    display: flex;
    justify-content: center;
}

.boton { 
    
display: flex;
justify-content: flex-end;
color: black;
}    
#carrito-carrito {
    position: relative;
    background-color: rgba(236, 168, 210, 0.185);
    /* min-width: 500px; */
    /* padding: 20px; */
    /* margin-top: -100%; */
    /* transition: all .5s; */
}
#carrito-todo {
    display: none;
    
}
#contenedor-carrito {
    font-size: 20px;
    border: 1px solid black;
}

.productoCarrito {
    display: flex;
    justify-content: space-around;
}

.boton-eliminar {
    background-color: red;
}
#total-compra {
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.boton-finalizar {
    justify-content: center;
    display: flex;
    font-size: 21px;
    padding: 15px;
}

.redes {
display: flex;
justify-content: space-around;
}

.logo-redes {
height: 70px;
right: 70px;
}
